body {
    background: #F9F6EF;
    font-family: 'Poppins', sans-serif;
}

.admin-wrapper {
    height: 100vh;
}

.sidebar {
    width: 230px;
    background: #0B4A6E;
    color: white;
    padding: 20px;
}

.sidebar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    background: white;
    color: #0B4A6E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sidebar-nav .nav-link {
    color: white;
    padding: 12px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.sidebar-nav .nav-link.active {
    background: #DDE9F6;
    color: #0B4A6E !important;
    font-weight: bold;
}

.btn-logout {
    width: 100%;
    background: red;
    border-radius: 25px;
    color: white;
}

.main-content {
    padding: 20px;
}

.table-container {
    width: 85%;
}

.header-box {
    background: #0C4A6E;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.table-row {
    background: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 15px;
    border: 2px solid #0C4A6E;
}

.cell {
    padding-left: 10px;
    font-weight: 500;
}

.icons i {
    cursor: pointer;
    font-size: 20px;
    color: #0C4A6E;
}
.table-card {
    border-radius: 10px;
    background: #fff;
}

.table-header {
    background: #4B77BE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.table-row {
    border-bottom: 1px solid #e2e2e2;
    transition: 0.2s;
}

.table-row:hover {
    background: #f7f7f7;
}

.action-icon {
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.action-icon:hover {
    transform: scale(1.2);
}
